:root {
    --bg-color: #ffffff;
    --text-color: #333;
}

body.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #f4f4f4;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    font-family: sans-serif;
}

header { padding: 20px; display: flex; justify-content: space-between; }

.project-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
